@page
@model MelisaIuliaProiect.Pages.Equipments.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Equipment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Equipment.ID" />
            <div class="form-group">
                <label asp-for="Equipment.EquipmentName" class="control-label"></label>
                <input asp-for="Equipment.EquipmentName" class="form-control" />
                <span asp-validation-for="Equipment.EquipmentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipment.Infotainment" class="control-label"></label>
                <input asp-for="Equipment.Infotainment" class="form-control" />
                <span asp-validation-for="Equipment.Infotainment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipment.Upholstery" class="control-label"></label>
                <input asp-for="Equipment.Upholstery" class="form-control" />
                <span asp-validation-for="Equipment.Upholstery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipment.Wheels" class="control-label"></label>
                <input asp-for="Equipment.Wheels" class="form-control" />
                <span asp-validation-for="Equipment.Wheels" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipment.ParkingAssist" class="control-label"></label>
                <input asp-for="Equipment.ParkingAssist" class="form-control" />
                <span asp-validation-for="Equipment.ParkingAssist" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
