@page
@model MelisaIuliaProiect.Pages.Transmissions.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Transmission</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Transmission.ID" />
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Transmission.TransmissionName" class="control-label"></label>
                <input asp-for="Transmission.TransmissionName" class="form-control" />
                <span asp-validation-for="Transmission.TransmissionName" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
