@page
@model MelisaIuliaProiect.Pages.TestDrives.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TestDrive</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TestDrive.CustomerID" class="control-label">Customer</label>
                <select asp-for="TestDrive.CustomerID" class ="form-control" asp-items="ViewBag.CustomerID"></select>
            </div>
            <div class="form-group">
                <label asp-for="TestDrive.CarVIN" class="control-label">Car</label>
                <select asp-for="TestDrive.CarVIN" class ="form-control" asp-items="ViewBag.CarVIN"></select>
            </div>
            <div class="form-group">
                <label asp-for="TestDrive.TestDriveDate" class="control-label">Date</label>
                <input asp-for="TestDrive.TestDriveDate" class="form-control" />
                <span asp-validation-for="TestDrive.TestDriveDate" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
